#dqCol>.col-content {
    display: flex;
    justify-content: flex-end;
}

#gfCol>.col-content {
    display: flex;
    justify-content: center;
}

#rhCol>.col-content {
    display: flex;
    justify-content: flex-start;
}

.image.icone>a>img {
    transition-duration: .3s;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.lienVersCompetence {
    padding: 0;
}